.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  max-width: var(--max-content-width);
  width: 100%;
  margin: 0 auto;
  padding: var(--page-margin-desktop);
}

@media (max-width: 768px) {
  .main {
    padding: var(--page-margin-mobile);
  }
}


